doctype html
html
  head
    title= "Seung-Wook, Han"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navigator.css')
    link(rel="shortcut icon", href="/favicon/favicon.ico", type="image/x-icon")
    link(rel="icon", href="favicon/favicon.ico", type="image/x-icon")
body
  block content
